fastapi
uvicorn[standard]
gunicorn
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-dotenv
pydantic
email-validator
SQLAlchemy
alembic
reportlab
pyotp
cryptography
psycopg2-binary  # Para PostgreSQL (opcional)
python-multipart  # Para uploads de archivos